.videos-int {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 20px 0px;

    .vid-gam {
        h1{
            font-size: 4vh;
            font-weight: bold;
        }
        iframe {
            width: 500px;
        }
    }

    .vid-gam-2 {
        h2{
            font-size: 4vh;
            font-weight: bold;
        }
        iframe {
            width: 500px;
        }
    }
}

@media (max-width: 1024px) {
    .videos-int {
        flex-direction: column;

        .vid-gam{
            iframe{
                width: 700px;
                height: 500px;
            }
        }

        .vid-gam-2{
            iframe{
                width: 700px;
                height: 500px;
            }
        }
    }
}

@media (max-width: 800px) {
    .videos-int {
        .vid-gam{
            iframe{
                width: 600px;
                height: 400px;
            }
            h1{
                font-size: 3vh;
            }
        }

        .vid-gam-2{
            iframe{
                width: 600px;
                height: 400px;
            }
            h2{
                font-size: 3vh;
            }
        }
    }
}

@media (max-width: 600px) {
    .videos-int {
        .vid-gam{
            iframe{
                width: 400px;
                height: 250px;
            }
        }

        .vid-gam-2{
            iframe{
                width: 400px;
                height: 250px;
            }
        }
    }
}

@media (max-width: 400px) {
    .videos-int {
        .vid-gam{
            iframe{
                width: 200px;
                height: 100px;
            }
        }

        .vid-gam-2{
            iframe{
                width: 200px;
                height: 100px;
            }
        }
    }
}

// Seccion mejores jugadores

.best-players{
    background-color: #68b2f8;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    .best-tlt {
        padding-bottom: 30px;
        h2 {
            font-size: 4vh;
            font-weight: bold;
        }
    }
    .player-cont {
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas: 
            ". p1 p2 p3 ."
        ;
        gap: 20px;
        
        .p1{
            grid-area: p1;
        }
        .p2{
            grid-area: p2;
            padding-bottom: 50px;
        }
        .p3{
            grid-area: p3;
        }

        div {       
            img {
                width: 200px;
                border-radius: 40px;
            }
            h2 {
                padding-top: 20px;
                font-size: 2vh;
            }
        }
    }
}

@media (max-width: 800px) {
    .best-players {
        .best-tlt{
            h2{
                font-size: 2.5vh;
            }
        }
        .player-cont {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-template-areas: 
                ". p2 p2 ."
                ". p1 p3 ."
            ;
            gap: 0px 20px;
        }

        .p1{
            grid-area: p1;
        }
        .p2{
            grid-area: p2;
            padding-bottom: 0px;
        }
        .p3{
            grid-area: p3;
        }
    }
}

@media (max-width: 600px) {
    .best-players {
        .player-cont {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas: 
                "p2"
                "p1"
                "p3"
            ;
            gap: 0px;
        }

        .p1{
            grid-area: p1;
        }
        .p2{
            grid-area: p2;
            padding-bottom: 0px;
        }
        .p3{
            grid-area: p3;
        }
    }
}

// Seccion Variada

.others-gaming {
    background-color: #506ee5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 40px;
    .oth-vids {
        div{
            img{
                width: 300px;
                border-radius: 15px;
            }
            h2{
                font-size: 3vh;
                width: 300px;
            }
        }
    }

    .oth-sorteo {
        h2 {
            font-size: 4vh;
            font-weight: bold;
            padding-bottom: 15px;
        }
        iframe {
            width: 600px;
            height: 400px;
        }
    }
}

@media (max-width: 1024px) {
    .others-gaming {
        flex-direction: column;
        
        .oth-vids {
            padding-bottom: 10px;
            div {
                img {
                    width: 600px;
                }
                h2 {
                    font-size: 4vh;
                    width: 600px;
                    padding-top: 10px;
                    padding-bottom: 20px;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .others-gaming {
        .oth-vids {
            div {
                img{
                    width: 400px;
                }
                h2 {
                    width: 400px;
                    font-size: 2vh;
                }
            }
        }

        .oth-sorteo {
            h2 {
                font-size: 3vh;
            }
            iframe {
                width: 400px;
            }
        }
    }
}

@media (max-width: 600px) {
    .others-gaming {
        .oth-vids {
            div {
                img{
                    width: 200px;
                }
                h2 {
                    width: 200px;
                }
            }
        }

        .oth-sorteo {
            iframe {
                width: 200px;
            }
        }
    }
}