.videos-int {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 20px 0px;

    .vid-gam {
        h1{
            font-size: 4vh;
            font-weight: bold;
        }
        iframe {
            width: 500px;
        }
    }

    .vid-gam-2 {
        h2{
            font-size: 4vh;
            font-weight: bold;
        }
        iframe {
            width: 500px;
        }
    }
}

// Seccion mejores jugadores

.best-players{
    background-color: #68b2f8;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    .best-tlt {
        padding-bottom: 30px;
        h2 {
            font-size: 4vh;
            font-weight: bold;
        }
    }
    .player-cont {
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas: 
            ". p1 p2 p3 ."
        ;
        gap: 20px;
        
        .p1{
            grid-area: p1;
        }
        .p2{
            grid-area: p2;
            padding-bottom: 50px;
        }
        .p3{
            grid-area: p3;
        }

        div {       
            img {
                width: 200px;
                height: 200px;
                border-radius: 40px;
                object-fit: cover;
            }
            h2 {
                padding-top: 20px;
                font-size: 2vh;
            }
        }
    }
}

// Seccion Variada

.others-gaming {
    background-color: #506ee5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 40px;
    .oth-vids {
        div{
            img{
                width: 300px;
                height: 250px;
                object-fit: cover;
                border-radius: 15px;
                box-shadow: 5px 5px 5px 2px rgba(29, 29, 29, 0.534);
            }
            h2{
                font-size: 3vh;
                margin-top: 10px;
                margin-bottom: 30px;
                width: 300px;
            }
        }
    }

    .oth-sorteo {
        h2 {
            font-size: 4vh;
            font-weight: bold;
            padding-bottom: 15px;
        }
        iframe {
            width: 600px;
            height: 400px;
        }
    }
}

